<p id="notice"><%= notice %></p>

<div class="subtitle">
  <p>ANIME</p>
  <p>MANGA</p>
  <p>LIST</p>
</div>

<div class="anime">
  <p>ATTCK ON TITAN（進撃の巨人）</p>
</div>

<%= form_for(@aot) do |f| %>
  <% if @aot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@aot.errors.count, "error") %> prohibited this aot from being saved:</h2>

      <ul>
      <% @aot.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :DAY %>
    <%= f.text_field :day %>
  </div>
  <div class="field">
    <%= f.label :EPISODE %>
    <%= f.text_field :episode %>
  </div>
  <div class="field">
    <%= f.label :TITLE %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :MANGA %>
    <%= f.text_field :manga %>
  </div>
  <div class="btn1">
    <%= f.submit"ADD"%>
  </div>
<% end %>


<table>
  <thead>
    <tr>
      <th>DAY</th>
      <th>EPISODE</th>
      <th>TITLE</th>
      <th>MANGA</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @aots.each do |aot| %>
      <tr>
        <td><%= aot.day %></td>
        <td><%= aot.episode %></td>
        <td><%= aot.title %></td>
        <td><%= aot.manga %></td>
        <td><%= link_to 'EDIT', aots_path(id: aot.id) %></td>
        <td><%= link_to 'DELETE', aot, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    <a href="#" class="gotop">TOP</a>
  </tbody>
</table>

