<p id="notice"><%= notice %></p>

<p>
  <strong>Day:</strong>
  <%= @aot.day %>
</p>

<p>
  <strong>Episode:</strong>
  <%= @aot.episode %>
</p>

<p>
  <strong>Title:</strong>
  <%= @aot.title %>
</p>

<p>
  <strong>Manga:</strong>
  <%= @aot.manga %>
</p>

<%= link_to 'Edit', edit_aot_path(@aot) %> |
<%= link_to 'Back', aots_path %>
