<p id="notice"><%= notice %></p>

<p>
  <strong>Day:</strong>
  <%= @dslayer.day %>
</p>

<p>
  <strong>Episode:</strong>
  <%= @dslayer.episode %>
</p>

<p>
  <strong>Title:</strong>
  <%= @dslayer.title %>
</p>

<p>
  <strong>Manga:</strong>
  <%= @dslayer.manga %>
</p>

<%= link_to 'Edit', edit_dslayer_path(@dslayer) %> |
<%= link_to 'Back', dslayers_path %>
