<p id="notice"><%= notice %></p>

<div class="subtitle">
  <p>ANIME</p>
  <p>MANGA</p>
  <p>LIST</p>
</div>

<div class="anime">
  <p>DETECTIVE CONAN（名探偵コナン）</p>
</div>

<%= form_for(@dconan) do |f| %>
  <% if @dconan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dconan.errors.count, "error") %> prohibited this dconan from being saved:</h2>

      <ul>
      <% @dconan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :DAY %>
    <%= f.text_field :day %>
  </div>
  <div class="field">
    <%= f.label :EPISODE %>
    <%= f.text_field :episode %>
  </div>
  <div class="field">
    <%= f.label :TITLE %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :MANGA %>
    <%= f.text_field :manga %>
  </div>
  <div class="btn1">
    <%= f.submit"ADD"%>
  </div>
<% end %>

<table>
  <thead>
    <tr>
      <th>DAY</th>
      <th>EPISODE</th>
      <th>TITLE</th>
      <th>MANGA</th>
      <th colspan="3"></th>
    </tr>
  </thead>


  <tbody>
    <% @dconans.each do |dconan| %>
      <tr>
        <td><%= dconan.day %></td>
        <td><%= dconan.episode %></td>
        <td><%= dconan.title %></td>
        <td><%= dconan.manga %></td>
        <td><%= link_to 'EDIT', dconans_path(id: dconan.id) %></td>
        <td><%= link_to 'DELETE', dconan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    <a href="#" class="gotop">TOP</a>
  </tbody>
</table>



