<p id="notice"><%= notice %></p>

<p>
  <strong>Day:</strong>
  <%= @dconan.day %>
</p>

<p>
  <strong>Episode:</strong>
  <%= @dconan.episode %>
</p>

<p>
  <strong>Title:</strong>
  <%= @dconan.title %>
</p>

<p>
  <strong>Manga:</strong>
  <%= @dconan.manga %>
</p>

<%= link_to 'Edit', edit_dconan_path(@dconan) %> |
<%= link_to 'Back', dconans_path %>
