<p id="notice"><%= notice %></p>

<div class="subtitle">
  <p>ANIME</p>
  <p>MANGA</p>
  <p>LIST</p>
</div>

<div class="anime">
  <p>ONEPIECE（ワンピース）</p>
</div>

<%= form_for(@onepiece) do |f| %>
  <% if @onepiece.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@onepiece.errors.count, "error") %> prohibited this onepiece from being saved:</h2>
      <ul>
      <% @onepiece.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
      <%= f.label :DAY %>
      <%= f.text_field :day %>
    </div>
    <div class="field">
      <%= f.label :EPISODE %>
      <%= f.text_field :episode %>
    </div>
    <div class="field">
      <%= f.label :TITLE %>
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label :MANGA %>
      <%= f.text_field :manga %>
    </div>
    <div class="btn1">
      <%= f.submit "ADD" %>
    </div>
<% end %>

<table>
  <thead>
    <tr>
      <th>DAY</th>
      <th>EPISODE</th>
      <th>TITLE</th>
      <th>MANGA</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @onepieces.each do |onepiece| %>
      <tr>
        <td><%= onepiece.day %></td>
        <td><%= onepiece.episode %></td>
        <td><%= onepiece.title %></td>
        <td><%= onepiece.manga %></td>
        <td><%= link_to 'EDIT', onepieces_path(id: onepiece.id) %></td>
        <td><%= link_to 'DELETE', onepiece, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    <a href="#" class="gotop">TOP</a>
  </tbody>
</table>

<br>
