<p id="notice"><%= notice %></p>

<%= link_to 'Anilist', toppage_index_path %>

<h1>Onepiece</h1>

<table>
  <tbody>
    <tr>
      <td><%= @onepiece.day %></td>
      <td><%= @onepiece.episode %></td>
      <td><%= @onepiece.title %></td>
      <td><%= @onepiece.manga %></td>
    </tr>
  </tbody>
</table>