<%= link_to 'Anilist', toppage_index_path %>
<h2>作品一覧</h2>
<%= link_to 'onepiece', onepieces_path %>
<%= link_to 'detective conan', dconans_path %>
<%= link_to 'demon slayer', dslayers_path %>
<%= link_to 'attack on titan', aots_path %>